* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: aliceblue;
  color: purple;
  border: 2px solid purple;
}

h4 {
  background-color: aquamarine;
  color: thistle;
}

ul {
  background-image: url('foto01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

li {
  color: violet;
}

.cor-diferente {
  color: black;
}